@import "tailwindcss";

* {
  font-family: "Jost", sans-serif;
}

.hover-border {
  @apply after:content-[''] after:block after:border-b-2 after:bg-black after:w-0
      after:duration-300 after:ease-in hover:after:w-full active:after:w-full;
}

.gradient-bg-color {
  @apply bg-linear-to-r/srgb from-teal-500 to-indigo-500;
}

.gradient-bg-color-2 {
  @apply bg-linear-to-r/srgb from-teal-500 to-indigo-500 sm:from-white sm:to-white;
}

.gradient-bg-color-3 {
  @apply bg-linear-to-r/srgb from-teal-950/50 to-indigo-950/30
  sm:from-transparent sm:to-transparent;
}

.gradient-bg-hover {
  @apply hover:from-teal-500 hover:to-indigo-500 
  active:from-teal-500 active:to-indigo-500;
}

.gradient-bg-hover-2 {
  @apply bg-linear-to-r/srgb hover:from-teal-950/50 hover:to-indigo-950/30;
}

.gradient-bg-hover-3 {
  @apply bg-linear-to-r/srgb hover:from-indigo-500/20 hover:to-teal-500/20;
}

.gradient-text {
  @apply bg-linear-to-r/srgb from-teal-500 to-indigo-500 bg-clip-text text-transparent;
}

/* Hero Section background Css */
.hero-bubbles {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  position: absolute;
  background: #777;
  border-radius: 50%;
  animation: float 6s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About Me background */

@keyframes blobMove1 {
  0% {
    transform: translate(-20%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, 20%) scale(1.15);
  }
  100% {
    transform: translate(-20%, -10%) scale(1);
  }
}

@keyframes blobMove2 {
  0% {
    transform: translate(30%, 20%) scale(1);
  }
  50% {
    transform: translate(-15%, -10%) scale(1.2);
  }
  100% {
    transform: translate(30%, 20%) scale(1);
  }
}

.blob1 {
  animation: blobMove1 18s ease-in-out infinite;
}

.blob2 {
  animation: blobMove2 22s ease-in-out infinite;
}
