@import "tailwindcss";

 * {
    font-family: "Jost", sans-serif;
 }

 .hover-border {
    @apply after:content-[''] after:block after:border-b-2 after:bg-black after:w-0
      after:duration-300 after:ease-in hover:after:w-full
}